{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "tailwindStylesheet": "./src/style/main.css",
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        },
        {
            "files": [
                "*.vue",
                "*.astro"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
