{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "pluginSearchDirs": false,
    "tailwindStylesheet": "./src/style/main.css",
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-astro"
    ],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
