@import "tailwindcss";

@plugin "tailwind-scrollbar";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html, .astro-code {
    @apply scrollbar-thin  scrollbar-thumb-slate-700 scrollbar-track-slate-300 dark:scrollbar-thumb-gray-700 dark:scrollbar-track-gray-800;
}

html.dark {
    color-scheme: dark;
}

html.dark pre:has(code),
html.dark pre:has(code) span {
    color: var(--shiki-dark) !important;
    background-color: var(--color-gray-900) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

.astro-code {
    @apply rounded-xl border border-dashed border-gray-500;
}

.prose img {
    @apply rounded-xl;
}
